.ms_header{
    background-color: white;
}

.ms_body{
    background-color:aquamarine ;
}

.ms_main{
    max-height:1500px;
}

.logo{
    height: 40px;
}

.ms_buttonplay{
    border: 1px solid gray;
    border-radius: 3px;
}

.ms_footer{
    background-color: white;
    height: 50px;
}

.quadrato{
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    cursor: pointer;
    
}

.ms_container_width{
    padding: 0;
    width: 600px;
    height: 500px;
    margin-top: 100px;
}

.colorate{
    background-color: skyblue;
    color: white;
}

.casellabomba{
    background-color: red;
}

.box2{
    width: calc(500px/10);
    height: calc(500px/10);
}