.ms_header{
    background-color: wheat;
}

.ms_body{
    background-color:aquamarine ;
}

.ms_main{
    height:820px;
}

.logo{
    height: 40px;
}

.ms_buttonplay{
    border: 1px solid gray;
    border-radius: 3px;
}

.ms_footer{
    background-color: white;
    height: 50px;
}

.quadrato1{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
}
.quadrato2{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
}
.quadrato3{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
}

.ms_container_width{
    padding: 0;
    width: 27%;
}