.ms_header{
    background-color: white;
}

.ms_body{
    background-color:aquamarine ;
}

.ms_main{
    height:821px;
}

.logo{
    height: 40px;
}

.ms_buttonplay{
    border: 1px solid gray;
    border-radius: 3px;
}

.ms_footer{
    background-color: white;
    height: 50px;
}

.quadrato{
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    cursor: pointer;
}
.quadrato2{
    height: 57px;
    width: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    cursor: pointer;
}
.quadrato3{
    height: 71px;
    width: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    cursor: pointer;
}

.ms_container_width{
    padding: 0;
    width: 30%;
    margin-top: 100px;
}

.colorate{
    background-color: skyblue;
    color: white;
}

.casellabomba{
    background-color: red;
}